<template>
  <v-container grid-list-xl fluid mt-0>
    <v-layout row wrap mb-5>
      
    </v-layout>
    <v-layout row wrap>
      <v-flex lg6>
      </v-flex>
      <v-flex lg6>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      
    };
  },
  methods: {
    
  },
  mounted() {

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
