<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6 lg5 xl4>
      <v-card>
        <v-toolbar dark color="blue darken-3">
          <v-toolbar-title>
            <v-icon>account_circle</v-icon> Acceso al Sistema
          </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-text-field
            v-model="username"
            autofocus
            color="accent"
            label="Username"
            required
          >
          </v-text-field>
          <v-text-field
            @keyup.enter="ingresar()"
            v-model="password"
            type="password"
            color="accent"
            label="Password"
            required
          >
          </v-text-field>
          <v-flex class="red--text" v-if="error">
            {{ error }}
          </v-flex>
        </v-card-text>
        <v-card-actions class="px-3 pb-3">
          <v-flex text-xs-right>
            <v-btn
              @click="ingresar"
              color="teal"
              class="ma-2 white--text"
            >
              Ingresar
              <v-icon right dark>login</v-icon>
            </v-btn>
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      username: "",
      password: "",
      error: null
    };
  },
  methods: {
    ingresar() {
      this.error = null;
      axios
        .post("/AutenticacionAdmin/InicioSesion", {
          username: this.username,
          password: this.password
        })
        .then(respuesta => {
          return respuesta.data;
        })
        .then(data => {
          this.$store.dispatch("guardarToken", data);
          this.$router.push({ name: "home" });
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
