<template>
  <v-layout align-start>
    <v-flex>
      <v-toolbar flat color="white">
        <v-toolbar-title>Usuarios</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <v-btn slot="activator" color="primary" dark class="mb-2"
            >Nuevo</v-btn
          >
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="firstname" label="Nombre">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="lastname" label="Apellido">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-text-field v-model="username" label="Usuario">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md6>
                    <v-select v-model="roleid" :items="roles" label="Permiso">
                    </v-select>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field v-model="email" label="Email"> </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12 v-show="valida">
                    <div
                      class="red--text"
                      v-for="v in validaMensaje"
                      :key="v"
                      v-text="v"
                    ></div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close"
                >Cancelar</v-btn
              >
              <v-btn color="blue darken-1" flat @click.native="guardar"
                >Guardar</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="adModal" max-width="290">
          <v-card>
            <v-card-title class="headline" v-if="active == 1"
              >¿Activar Item?</v-card-title
            >
            <v-card-title class="headline" v-if="active == 0"
              >¿Desactivar Item?</v-card-title
            >
            <v-card-text>
              Estás a punto de
              <span v-if="active == 1">Activar </span>
              <span v-if="active == 0">Desactivar </span>
              el ítem: <br />
              {{ adNombre }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="green darken-1"
                flat="flat"
                @click="activarDesactivarCerrar"
              >
                Cancelar
              </v-btn>
              <v-btn
                v-if="active == 1"
                color="orange darken-4"
                flat="flat"
                @click="activar"
              >
                Activar
              </v-btn>
              <v-btn
                v-if="active == 0"
                color="orange darken-4"
                flat="flat"
                @click="desactivar"
              >
                Desactivar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="usuarios"
        :search="search"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.firstName }}</td>
          <td>{{ props.item.lastName }}</td>
          <td>{{ props.item.username }}</td>
          <td>{{ props.item.email }}</td>
          <td>{{ props.item.role.name }}</td>
          <td>
            <div v-if="props.item.active">
              <span class="blue--text">Activo</span>
            </div>
            <div v-else>
              <span class="red--text">Inactivo</span>
            </div>
          </td>
          <td>
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <template v-if="props.item.active">
              <v-icon
                small
                class="mr-2"
                @click="activarDesactivarMostrar(0 , props.item)"
              >
                block
              </v-icon>
            </template>
            <template v-else>
              <v-icon
                small
                class="mr-2"
                @click="activarDesactivarMostrar(1, props.item)"
              >
                check
              </v-icon>
            </template>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" @click="listar">Resetear</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      usuarios: [],
      dialog: false,
      headers: [
        { text: "Nombre", value: "firstname" },
        { text: "Apellido", value: "lastname" },
        { text: "Usuario", value: "username" },
        { text: "Email", value: "email", sortable: false },
        { text: "Rol", value: "rol" },
        { text: "Estado", value: "active", sortable: false },
        { text: "Acción", value: "opciones", sortable: false }
      ],
      search: "",
      editedIndex: -1,
      id: "",
      roleid: "",
      roles: [],
      firstname: "",
      lastname: "",
      username: "",
      email: "",
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      active: 0,
      adNombre: "",
      adId: "",
      itemToUpdate: {}
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo usuario" : "Actualizar usuario";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.listar();
    this.select();
  },
  methods: {
    listar() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Users/GetUsersWithRole", configuracion)
        .then(function(response) {
          me.usuarios = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    select() {
      let me = this;
      var rolesArray = [];
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Roles", configuracion)
        .then(function(response) {
          rolesArray = response.data;
          rolesArray.map(function(x) {
            me.roles.push({ text: x.name, value: x.id });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    editItem(item) {
      this.id = item.id;
      this.roleid = item.roleId;
      this.firstname = item.firstName;
      this.lastname = item.lastName;
      this.username = item.username;
      this.email = item.email;
      this.editedIndex = 1;
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      this.limpiar();
    },
    limpiar() {
      this.id = "";
      this.roleid = "";
      this.firstname = "";
      this.lastname = "";
      this.username = "";
      this.email = "";
      this.editedIndex = -1;
    },
    guardar() {
      if (this.validar()) {
        return;
      }
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      if (this.editedIndex > -1) {
        let me = this;
        if (me.password != me.passwordAnt) {
          me.actPassword = true;
        }
        axios
          .put(
            "api/Users/" + me.id,
            {
              id: me.id,
              roleid: me.roleid,
              firstname: me.firstname,
              lastname: me.lastname,
              username: me.username,
              email: me.email
            },
            configuracion
          )
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      } else {
        //Código para guardar
        let me = this;
        axios
          .post(
            "api/Users",
            {
              roleid: me.roleid,
              firstname: me.firstname,
              lastname: me.lastname,
              username: me.username,
              email: me.email
            },
            configuracion
          )
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.firstname.length < 3 || this.firstname.length > 50) {
        this.validaMensaje.push(
          "El nombre debe tener más de 3 caracteres y menos de 50 caracteres."
        );
      }
      if (this.lastname.length < 3 || this.lastname.length > 50) {
        this.validaMensaje.push(
          "El apellido debe tener más de 3 caracteres y menos de 50 caracteres."
        );
      }
      if (this.username.length < 3 || this.username.length > 30) {
        this.validaMensaje.push(
          "El usuario debe tener más de 3 caracteres y menos de 30 caracteres."
        );
      }
      if (!this.roleid) {
        this.validaMensaje.push("Seleccione un rol.");
      }
      if (!this.email) {
        this.validaMensaje.push("Ingrese el email del usuario.");
      }
      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    activarDesactivarMostrar(accion, item) {
      this.itemToUpdate = item;
      this.adModal = 1;
      this.adNombre = item.username;
      this.adId = item.id;

      if (accion == 1) {
        this.active = 1;
      } else if (accion == 0) {
        this.active = 0;
      } else {
        this.adModal = 0;
      }
    },
    activarDesactivarCerrar() {
      this.adModal = 0;
    },
    activar() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };

      me.itemToUpdate.active = 1;

      axios
        .put("api/Users/" + me.adId, me.itemToUpdate, configuracion)
        .then(function(response) {
          me.adModal = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    desactivar() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };

      me.itemToUpdate.active = 0;
      axios
        .put("api/Users/" + this.adId, me.itemToUpdate, configuracion)
        .then(function(response) {
          me.adModal = 0;
          me.active = 0;
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
