<template>
  <v-app id="app">
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="drawer"
      v-if="logueado"
    >
      <v-list dense>
        <template>
          <v-list-tile :to="{ name: 'home' }">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>
              Inicio
            </v-list-tile-title>
          </v-list-tile>
        </template>
        <template v-for="item in filteredMenu">
          <v-list-group :key="item.text">
            <v-list-tile slot="activator">
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
              <v-list-tile-content class="ml-2">
                <v-list-item-title v-text="item.text"></v-list-item-title>
              </v-list-tile-content>
            </v-list-tile>
            <!-- <v-list-group v-if="item.children"> -->
            <v-list-tile v-for="(child, i) in item.children" :key="i" link>
              <v-list-tile-content class="ml-5">
                <v-list-tile-title>
                  <router-link :to="{ name: child.ruta }">
                    {{ child.text }}</router-link
                  >
                </v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon v-text="child.icon"></v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <!-- </v-list-group> -->
          </v-list-group>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="blue darken-3"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
      dense
    >
      <v-spacer></v-spacer>
      <v-btn @click="salir" v-if="logueado" icon>
        Salir <v-icon>logout</v-icon>
      </v-btn>

    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-slide-y-transition mode="out-in">
          <router-view />
        </v-slide-y-transition>
      </v-container>
    </v-content>
    <v-footer dark height="auto">
      <v-layout>
        <v-flex text-xs-right>
          <v-card flat tile color="primary" class="white--text">
            <v-card-text class="white--text">
              EMPRESA X - Control de permisos &copy;2020
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: "control_point",
          "icon-alt": "check",
          text: "Mantenimiento",
          model: true,
          children: [
            // {
            //   icon: "table_chart",
            //   text: "Control de activos",
            //   ruta: "controldeactivos"
            // },
            {
              icon: "table_chart",
              text: "Proveedores",
              ruta: "proveedores"
            }
          ],
          roles: ["Administrador"]
        },
        {
          icon: "control_point",
          "icon-alt": "check",
          text: "Accesos",
          model: true,
          children: [
            {
              icon: "table_chart",
              text: "Roles",
              ruta: "roles"
            },
            {
              icon: "table_chart",
              text: "Usuarios",
              ruta: "usuarios"
            }
          ],
          roles: ["Administrador"]
        }
      ],
      filteredMenu: [],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js"
    };
  },
  mounted() {
    this.filterMenu();
  },
  computed: {
    logueado() {
      return this.$store.state.user;
    },
    esAdministrador() {
      return this.$store.state.user && store.getters.rutas == "administrador";
    },
    esEncargado() {
      return this.$store.state.user && store.getters.rutas == "encargado";
    },
    esSupervisor() {
      return this.$store.state.usuario && store.getters.rutas == "supervisor";
    }
  },
  created() {
    this.$store.dispatch("autoLogin");
  },
  methods: {
    salir() {
      this.$store.dispatch("salir");
    },
    filterMenu() {
      this.filteredMenu = this.items.filter(x =>
        x.roles.some(item => {
          return item === this.$store.getters.rutas;
        })
      );
    }
  }
};
</script>
