<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6 lg5 xl4>
            <v-card>
                <v-toolbar dark color="blue darken-3">
                    <v-toolbar-title>
                        No tiene permiso para esta sesion
                    </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            
            error: null        }
    },
    methods :{

    }
    
}
</script>

